.footer {
	height: 100px;
	background: radial-gradient(circle at right bottom,
		#0b8ef6 0%, #0b8ef6 33%,
		#007cf8 33%, #007cf8 66%,
		#0171f9 66%, #0171f9 100%);
	border-radius: 170px 170px 0px 0px;
 	display: flex;
  	justify-content: center;
  	align-items: center;
  	color: white;
  	font-size: 12px;
  	margin-top: $sectionMargin;
  	@media (max-width: $maxMobile) {
  		border-radius: 90px 90px 0px 0px ;
  		padding: 0px 40px;
  	}
}